HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/docker/grafana/grafana.db
/docker/opentelemetry/hostname
/docker/opentelemetry/hosts
/docker/localstack/cache/machine.json
/docker/opentelemetry/resolv.conf
/docker/localstack/cache/server.test.pem
/docker/localstack/cache/server.test.pem.crt
/docker/localstack/cache/server.test.pem.key
/docker/localstack/cache/service-catalog-2_2_1_dev-1_31_18.pickle
